<h2>This is parent component!</h2>
<div class="container mt-5 mb-5 pl-5 ">
  <div class="row">
    <form [formGroup]="form">

      <div class="form-group">
        <label for="phone-number">Phone Number: </label>

        <input class="form-control" type="text" appPhoneMask ngModel formControlName="phone"
               id="phone-number" onPaste="return false" minlength="14" maxlength="14">
      </div>
      <div>
      <button (click)="onSubmit(form)">Console log #</button>
      </div>


    </form>
  </div>
</div>
<br>
<h2>Under is child component.
</h2>
<app-child [data]="message" (parentFunction)="addItem($event)"></app-child>

<br>
<ul>
    <li *ngFor="let item of items">{{item}}</li>
  </ul>

