<h2>{{ data }}</h2>
<button (click)="send()">Send data to parrent component</button>
<br>
<hr>
<label for="item-input">Add an item:</label>
<input type="text" id="item-input" #newItem>
<button (click)="addNewItem(newItem.value)">Add to parent's list</button>
